<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
        <body>
            <h1>This will have the orders</h1>
            <%- include('../includes/end.ejs') %>